<a href="https://colab.research.google.com/github/jahaltom/Python_Workshop/blob/main/1_Boolean_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boolean expressions
Boolean expressions a.k.a logical expressions are expressions which evaluate to either *True* or *False*. In python 3, *True* and *False* are keywords. A boolean expression can be written using a combination of comparison and boolean operators. Boolean expressions are used in if-else statements to conditionally execute blocks in a program.

# Comparison  and logical operators

The comparison  operators in python are used to compare values of two objects and return *True* or *False*. The comparison  result depends on the type of the object. There are a number of comparison  operators in python. The table below summarizes the comparison  operators

| Operator | Description              |
|---------:|--------------------------|
| ==       | Equals to                |
| !=       | Not equal to             |
| >        | Greater than             |
| >=       | Greater than or equal to |
| <        | Less than                |
| <=       | Less than or equal to    |
| is       | Is the same object       |
| in       | Membership test |

The logical operators can combine logical expressions to make decisions based on multiple conditions. The table below summarizes the logical operators

| Operator | Description     |
|---------:|-----------------|
| or       | Boolean OR      |
| and      | Boolean AND     |
| not      | Boolean NOT     |

In the Python programing language, there are some built in object types. Here we will evaluate them with comparison and logical operators. 

|Object    | Description |
|---------:|-------------|
| int | Intiger |
| float | Decimals, Fractions|
| str | Character string|
| list | Mutable seqence of objects|
| bool | boolean value |

#Integers
In python integers are whole numbers both positive and negative and contain no decimal point. 

Evaluate the following expressions and determine whether they are true or false.

In [ ]:
10==5

In [ ]:
10 is 10

In [ ]:
10 is not 10

In [ ]:
10!=5

In [ ]:
5<10

In [ ]:
5<=10

In [ ]:
5>=10

In [ ]:
10==(20-10)

The not operator evaluates the expression as being NOT true.

In [ ]:
not 1<2

In [ ]:
not 1>2

The ** operator is used to raise the number on the left to the power of the number on the right.

In [ ]:
2**4 == 16

#Floats
Floats are numerical objects that are decimals, fractions, or numbers written  in scientific notation. Evaluate the following expressions and determine whether or not they are true or false.

In [ ]:
0.5 == (1/2)

In [ ]:
1.233E2 == 123.3

In [ ]:
5E-1 == (1/2)

When comparing a float to an int, the "==" operator will evaluate them based on value and the "is" operator will evaluate them based on value and object type. For "is" to be true, they must be the same value and object type. Evaluate the following expressions and determine whether they are true or false.

In [ ]:
5E2 == 500

In [ ]:
1.23E2 == 123

In [ ]:
1.0 == 1

In [ ]:
(2/2)== 1

In [ ]:
5.0 is 5

In [ ]:
5.0 is 5.0

In [ ]:
50E-1 is 5.0

In [ ]:
5 is not 5.0

In [ ]:
50E-1 is not 5.0

In [ ]:
2.0**4

In [ ]:
2.0**4 is 16

In [ ]:
2.0**4 is 16.0

#Strings
Strings in python are characters enclosed in quotes. Python treats single quotes the same as double quotes. A string can be a single character, a word, or a whole sentence. 

Evaluate the following expressions and determine whether they are true or false.

Equal operator is case sensitive.

In [ ]:
"Python"=="Python"

In [ ]:
"Python"=="python"

In [ ]:
"Python"!="python"

In Python, all characters(Letters both upper and lower case, numbers, and other characters like .!") are assigned a value. See The ASCII table -> https://towardsdatascience.com/processing-text-with-unicode-in-python-eacc226886cb. The < > operators will evaluate the strings being compared  based on these values. See the code block below to see some of these values.

In [ ]:
'A value is', ord('A'), ',a value is', ord('a'), ',! value is', ord('!')

('A value is', 65, ',a value is', 97, ',! value is', 33)

Is ‘p’ greater than ‘P’?

In [ ]:
'python' > 'Python'

In [ ]:
print('p value is', ord('p'), ',P value is', ord('P'))

In Python, the lowercase letters are greater than the Uppercase.
Numbers are less than letters and symbols are less than numbers.

Symbols < Numbers < Uppercase  Letters < Lowercase Letters

In [ ]:
'Python' > '0ython'

In [ ]:
print('P value is', ord('P'), ',0 value is', ord('0'))

In [ ]:
'0ython' > '!ython'

In [ ]:
print('0 value is', ord('0'), ',! value is', ord('!'))

These values increase from A-Z & a-z so this lets users sort words alphabetically.

In [ ]:
"Car" < "Python"

In [ ]:
"Truck" < "Car"

In [ ]:
"Cat" < "Dog"

The < > operators use the first character in each string and if matching moves to next.

In [ ]:
"python" > "pythom"

If strings are the same except one has an additional character, then the larger length string is considered greater than the other one.

In [ ]:
"Pythonn">"Python"

What will the following code block output be in terms of true, false? Note that this will output two boolean values, one for each expression contained in print.

In [ ]:
str1 = 'abc'
str2 = 'abc'
print(str1 == str2)
print(str1 is str2)

#Using the Logical Operators
These operators include and,or,not. Each of these has a unique way of evaluating expressions. Evaluate the following expressions and determine whether they are true or false.

**or**

Returns true if at least one statement is true.

In [ ]:
(5==5) or (7==3)

In [ ]:
(5==5) or (7==3) or (2==1)

**and**

Returns true only if both statements are true.

In [ ]:
(5==5) and (7==3)

**not**

The not operator evaluates the expression as being NOT true.

In [ ]:
not (7==3)

not can be used as opposite of is operator.

In [ ]:
5 is not 5.0

In [ ]:
(2==2) is not (2==3)

**Combine the logical operators**

When evaluating the expression, **or** comes before **and**, and **not** is last.

In [ ]:
(5==5) and (7==3) or (5.0==5.0)

In [ ]:
(5==5) and (7==3) or (5.0==5.0) and 5 is not 6

In [ ]:
(5==5) and (7==3) or (5.0==5.0) and 5 is not 5

##List

A list is a object(data structure) that can hold a collection of items. List have these attributes:

**Ordered** - which lets you access any item via index.

**Mutable** - which means you can add or remove items after a list's creation.

**More than one data type possible** - which means a single list can contain strings, ints, floats, and other objects.

List are contained in [ ] with items separated by , 

```
[1,2,3,4]
```
Evaluate the following expressions and determine whether they are true or false.

In [ ]:
[1]==[1]

In [ ]:
[1]==[2]

In [ ]:
["Bird","Cat"] == ["Bird","Dog"]

In [ ]:
List1 = ["Monkey","Mouse","Hamster"]
List2 = ["Dog","Cat","Rabbit"]
List1 == List2

When using the "is" operator, even though list may look identical, they are not. Here you can see that both list refer to objects that are equal, but they do not refer to the same object. They both have distinct identities. However, the "==" operator will treat them as equal since its only looking at the values at each index. To make them equal with "is" you must assign both list to the same objects.

In [ ]:
List1 = ["Monkey","Mouse","Hamster"]
List2 = ["Monkey","Mouse","Hamster"]
print(List1 == List2)
print(List1 is List2)


List1 = List2
print(List1 is List2)

Membership test operator "in" can be used on list objects to see whether a list contains a certain object.

In [ ]:
List = [1,2,3,4]
print(5 in List)
print(4 in List)

In [ ]:
List = [1,2,3,4,"Dog"]
"Dog" in List

##bool

Any variable in python can be mapped to a True or False value using the constructor function bool. bool takes any python value and return corresponding True or False value. 0, empty collections, None and False have False values. Most other values are True. Evaluate the following expressions and determine whether they are true or false.

In [ ]:
bool(True)

In [ ]:
bool(False)

In [ ]:
bool(1)

In [ ]:
bool(0)

In [ ]:
bool([])

In [ ]:
bool([False])

In [ ]:
bool("False")

In [ ]:
bool({})

In [ ]:
bool(())

In [ ]:
bool("")

In [ ]:
bool(None)

In [ ]:
bool([""])

In [ ]:
bool((""))

##Additional problems for fun!!

In [ ]:
'a'=='a'

In [ ]:
2!=2

In [ ]:
2>-100

In [ ]:
3>=3

True

In [ ]:
5<8

True

In [ ]:
5<=8

True

In [ ]:
x=['1','2']
y=['1','2']
x is y

False

In [ ]:
y=x

In [ ]:
x is y

True

In [ ]:
str1 = 'abc'
str2= 'abc'

In [ ]:
str1 == str2

True

In [ ]:
str1 is str2

True

In [ ]:
2 in [1,2,3]

True

In [ ]:
1<2 and 1<3

True

In [ ]:
1<2 or 2>3

True

In [ ]:
not 1<2

False