<a href="https://colab.research.google.com/github/jahaltom/Python_Workshop/blob/main/Copy_of_1_Boolean_Expressions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Boolean expressions
Boolean expressions a.k.a logical expressions are expressions which evaluate to either *True* or *False*. In python 3, *True* and *False* are keywords. A boolean expression can be written using a combination of comparision and boolean operators. Boolean expressions are used in if-else statements to conditionally execute blocks in a program.

# Comparison  and logical operators

The comparision operators in python are used to compare values of two objects and return *True* or *False*. The comparision result depends on the type of the object. There are a number of comparision operators in python. The table below summarizes the comparision operators

| Operator | Description              |
|---------:|--------------------------|
| ==       | Equals to                |
| !=       | Not equal to             |
| >        | Greater than             |
| >=       | Greater than or equal to |
| <        | Less than                |
| <=       | Less than or equal to    |
| is       | Is the same object       |
| in       | Membership test |

The logical operators can combine logical expressions to make decisions based on multiple conditions. The table below summarizes the logical operators

| Operator | Description     |
|---------:|-----------------|
| or       | Boolean OR      |
| and      | Boolean AND     |
| not      | Boolean NOT     |

In the Python programing language, there are some built in object types. Here we will evaluate them with comparison and logical operators. 

|Object    | Description |
|---------:|-------------|
| int | Intiger |
| float | Decimals, Fractions|
| str | Character string|
| list | Mutable seqence of objects|, 
| bool | boolean value |

#Intigers
Evaluate the following expressions and determine whether or not they are ture or false.

In [ ]:
10==5

In [ ]:
10 is 10

In [ ]:
10 is not 10

In [ ]:
10!=5

In [ ]:
5<10

In [ ]:
5<=10

In [ ]:
5>=10

In [ ]:
10==(20-10)

The not operator evaluates the expression as being NOT true.

In [ ]:
not 1<2

In [ ]:
not 1>2

The ** operator is used to raise the number on the left to the power of the number on the right.

In [ ]:
2**4 == 16

#Floats
Floats are numerical objects that are decimals, fractions, or numabers written  in scientific notation. Evaluate the following expressions and determine whether or not they are ture or false.

In [ ]:
0.5 == (1/2)

In [ ]:
1.233E2 == 123.3

In [ ]:
5E-1 == (1/2)

In [ ]:
5E2 == 500

In [ ]:

#Float to Intiger
print(1.23E2 == 123)
print(1.0 == 1)
print((1/2)== 2)
##Compares them as objects rather than value
print(5 is 5.0)
print (5 is not 5.0)

#Exponents 
print(2.0**4)
print(2.0**4 == 16)
print(2.0**4 == 16.0)

##Combine 
print((2.0**4)/4.0 == 4)




####Strings
#Equal operator is case sensitive
print("Python"=="Python")
print("Python"=="python")
print("Python"!="python")

# Does ‘p’ come before ‘P’?
print('python' > 'Python')
#This is because each char is assigned a unicode value. Insert Table 
print('A unicode is', ord('A'), ',a unicode is', ord('a'))

##The <> operators evaluate the strings by alphabetical order 
print("Python">"ABCDEFGHI")
print("Python"<"ABCDEFGHI")

##Uses first letter in each string and if matcing moves to next. 
print("python" > "pythom")
#If strings are the same except one has an additional char, the larger length string is considered greater than the other one.
print("Pythonn">"Python")


str1 = 'abc'
str2 = 'abc'
print(str1 == str2)
print(str1 is str2)

#More complex expressoins
## Returns true if at least one statment is true
print( (5==5) or (7==3))
print( (5==5) or (7==3) or (2==1))
##Returns true only if both statments are true
print( (5==5) and (7==3))
##or comes before and 
print( (5==5) and (7==3) or (5.0==5.0) )


It’s clear that dum and dee refer to objects that are equal, but not to the same object. They have distinct identities.
##List
#Int List
print([1]==[1])
print([1]==[2])

Arr = [1,2,3,4]
print(5 in Arr)
print(4 in Arr)

#String List
Arr1 = ["Monkey","Mouse","Hamster"]
Arr2 = ["Dog","Cat","Rabbit"]
print(Arr1 == Arr2)
print("Dog" in Arr2)
print(Arr1 is Arr2)

##is must be same value(contents) and same object type. 
print(Arr1 is Arr1)

x=['1','2']
y=['1','2']
print(x is y)

x=y
print(x is y)


##Boolean operators
print(True==False)




#fruit1 = input('Please enter the name of first fruit:\n')
#fruit2 = input('Please enter the name of second fruit:\n')

Any variable in python can be mapped to a True or False value using the constructor function bool. bool takes any python value and return corresponding True or False value. 0, empty collections, None and False have False values. Most other values are True.

In [ ]:
print(bool(True))
print(bool(False))
print(bool(1))
print(bool(0))
print(bool([]))
print(bool([False]))
print(bool("False"))
print(bool({}))
print(bool(()))
print(bool(""))
print(bool(None))
print(bool([""]))
print(bool(("")))

In [ ]:
'a'=='a'

In [ ]:
2!=2

False

In [ ]:
2>-100

True

In [ ]:
3>=3

True

In [ ]:
5<8

True

In [ ]:
5<=8

True

In [ ]:
x=['1','2']
y=['1','2']
x is y

False

In [ ]:
y=x

In [ ]:
x is y

True

In [ ]:
str1 = 'abc'
str2= 'abc'

In [ ]:
str1 == str2

True

In [ ]:
str1 is str2

True

In [ ]:
2 in [1,2,3]

True

In [ ]:
1<2 and 1<3

True

In [ ]:
1<2 or 2>3

True

In [ ]:
not 1<2

False

In [ ]:
x=100;y=0
if (x==y):
    print("Is equal")
else:
    print("Is not equal")

x=100;y=0
if (x!=y):
    print("Is not equal")
else:
    print("Is equal")

##Is the same object. 
x=100;y=0
##Returns boolean()
print(x==y)

if (x==y) is True:
    print("Is equal")
else:
    print("Is not equal")